{% extends 'base.html' %}
{% load product_extras %}
{% load cart_extras %}

{% block content %}
<div class="col-3">
    {% if product.image %}
        <img src="{{ product.image.url }}" alt="imagen del producto" width="150" height="200">
    {% endif %}
</div>
<div class="col" >
    <div class="h3 font-weigth-bold text-success">
        {{ quantity | quantity_add_format }} al Carrito
    </div>
    <div class="">
        <a href="{% url 'products:product' product.slug %}">
            {{ product.tittle }}
        </a>
    </div>
    <div class="font-weight-bold text-danger">
        {{ product.price | price_format }}
    </div>
    <div class="">
        <a href="{% url 'carts:cart' %}" class="btn btn-info">ver carrito</a>
    </div>
    <div class="mt-2">
        <a href="{% url 'index' %}">seguir comprando</a>
    </div>
</div>
{% endblock %}