<div class="card custom-card-style h-100">
    {% if product.image %}
        <img src="{{ product.image.url }}" alt="imagen del producto" class="card-img-top">
    {% endif %}
    
    <div class="card-body">
        <h5 class="card-title custom-card-title-style">{{ product.tittle }}</h5>
        <p class="card-text custom-card-description-style">{{ product.price }}</p>
        <a href="{% url 'products:product' product.slug %}" class="btn btn-primary custom-card-button-style">Ver más</a>
    </div>
</div>