{% extends 'base.html' %}

{% block content %}

    <div class="col-3">
        {% if product.image %}
            <img src="{{ product.imge.url }}" alt="Imagen del producto">
        {% endif %}

    </div>

    <div class="col">
        <div class="h1">{{ products.tittle }}</div>
        <div class="h5 font-weight-bold">
            precio: <span class="text-danger">${{ product.price}}</span>
        </div>
        <div class="">
            <p>{{ products.description }}</p>
        </div>
    </div>
{% endblock %}