{% extends 'base.html' %}

{% block content %}
    <div class="product-card">
        <div class="product-image">
            {% if product.image %}
                <img src="{{ product.image.url }}" alt="Imagen del producto" width="150" height="200">
            {% endif %}
        </div>
        
        <div class="product-details">
            <div class="product-title">
                {{ product.tittle }}
            </div>
            
            <div class="product-price">
                precio: <span class="text-danger">${{ product.price }}</span>
            </div>
            <div class="product-description">
                <p>{{ product.description }}</p>
            </div>
            <div class="product-actions">
                {% include 'carts/snippets/add.html' %}
            </div>
        </div>
    </div>
{% endblock %}
